header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.midnight-blue {
    background: #2c3e50;
}

.divider {
    background-color: #34495e;
}

.side-nav li>a>i{
    float: left;
    height: 48px;
    line-height: 43px;
    margin: 0 12px 0 0;
    width: 24px;
    color: #fff;
    font-size: 20px;
}

.side-nav li>a{
    font-weight: 200;
}

.padding-top-bottom{
    padding: 10px 0;
}

.padding-rigt-left{
    padding: 0 10px;
}

header.to-fix{
    margin-top: -22px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 43px;
        line-height: 43px;
    }
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0;
}

nav{
    -webkit-box-shadow: none;
    box-shadow: none;
}

main{
    padding-top: 20px;
}

.pull-left {
    float: left;
    line-height: 50px;
    padding-right: 24px;
    font-size: 24px;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: rgba(41, 128, 185,1.0);
}

.tabs .tab a {
    color: rgba(41, 128, 185,0.7);
}

.tabs .indicator {
    background-color: rgba(41, 128, 185,1.0);
}

.tabs.tabs-fixed-width {
    overflow-x: hidden;
}